<div class="cama-card">
  <div class="cama-info">
    <h3>{{ nome }}</h3>
    <p *ngIf="status === 'DISPONIVEL'">DISPONÍVEL</p>
    <p *ngIf="status === 'EM MANUTENCAO'">EM MANUTENÇÃO</p>
    <p *ngIf="status === 'EM USO'">
      EM USO POR: <strong>{{ colaborador }}</strong><br>
      TEMPO DE USO: <strong>{{ tempoDeUso }} min</strong>
    </p>
  </div>

  <!-- NOVO CONTÊINER FLEX: imagem + botões lado a lado -->
  <div class="cama-conteudo">
    <div class="imagem-wrapper">
      <img *ngIf="status === 'DISPONIVEL'" src="../../../assets/DisponivelImg.png" alt="Cama disponível" />
      <img *ngIf="status === 'EM MANUTENCAO'" src="../../../assets/ManutencaoImg.png" alt="Cama em manutenção" />
      <img *ngIf="status === 'EM USO'" src="../../../assets/EmUsoImg.avif" alt="Cama em uso" />
    </div>

    <div class="menu-opcoes-fixo">
      <button (click)="onAlterar('DISPONIVEL', $event)">Disponível</button>
      <button (click)="onAlterar('EM USO', $event)">Em Uso</button>
      <button (click)="onAlterar('EM MANUTENCAO', $event)">Em Manutenção</button>
    </div>
  </div>

  <div *ngIf="mostrarModal" class="modal-overlay">
    <div class="modal-content">
      <h2>Vincular Colaborador</h2>
  
      <form (ngSubmit)="confirmarVinculo()" #formModal="ngForm">
        <div class="form-group">
          <label for="sexo">Sexo:</label>
          <select [(ngModel)]="sexoSelecionado" name="sexo" id="sexo" required>
            <option value="">Selecione</option>
            <option value="MASCULINO">Masculino</option>
            <option value="FEMININO">Feminino</option>
            
          </select>
        </div>
  
        <div class="form-group">
          <label for="cracha">ID do Crachá:</label>
          <input
            type="text"
            [(ngModel)]="cracha"
            name="cracha"
            id="cracha"
            (blur)="buscarColaboradorPorCracha()"
            required
          />
        </div>
  
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input
            type="text"
            [(ngModel)]="nomeColaborador"
            name="nome"
            id="nome"
            readonly
          />
        </div>
  
        <div class="botoes-confirmar-cancelar">
          <button type="submit" class="btn-confirmar">Confirmar</button>
          <button type="button" (click)="fecharModal()" class="btn-cancelar">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  
  
</div>
