<app-navbar></app-navbar>

<h1 style="text-align: center;">Gerenciamento de Dormitórios</h1>

<div class="botoes-filtro">
  <button (click)="filtro = 'M'">Dormitório Masculino</button>
  <button (click)="filtro = 'F'">Dormitório Feminino</button>
  <button (click)="filtro = 'P'">Poltronas</button>
</div>

<!-- Listagem das camas -->
<div class="container-camas">
  <app-cama-card
  *ngFor="let cama of camas | camaFiltro:filtro; let i = index"
  [nome]="cama.numero"
  [status]="cama.status"
  [colaborador]="cama.colaborador"
  [tempoDeUso]="cama.tempoDeUso"
  [sexoDormitorio]="cama.sexoDormitorio"
  (clicarCama)="abrirAlterarStatus(i)"
></app-cama-card>

</div>
<app-cadastro-colaboradores></app-cadastro-colaboradores>

