<div class="container text-center mt-5">
  <img src="../../../assets/icon.png" alt="Logo" class="mb-4" width="120" />

  <h2 class="mb-4">Bem-vindo</h2>

  <form (ngSubmit)="login()" class="d-flex justify-content-center mb-3 gap-2 flex-wrap">
    <input type="email" [(ngModel)]="username" name="username" class="form-control w-auto" placeholder="E-mail" required />
    <input type="password" [(ngModel)]="password" name="password" class="form-control w-auto" placeholder="Senha" required />
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>
